.form {
  width: 95%;
  max-width: 25rem;
  margin: 2rem auto;
}

.control {
  margin-bottom: 0.5rem;
}

.control .label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #353336;
  display: block;
}

.control .labelnormal {
  font-weight: normal;
}

.control input {
  display: block;
  font: inherit;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #38015c;
  padding: 0.25rem;
  background-color: #f7f0fa;
}

.actions {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: row;             /* flex items will align horizontally */
  justify-content: center; 
  align-items: center;
}

.actions button {
  cursor: pointer;
  font: inherit;
  color: white;
  background-color: #db0011;
  border: 1px solid #db0011;
  border-radius: 4px;
  padding: 0.5rem 2.5rem;
}

.actions .leftmargin {
  margin-left: 1.5rem;
  cursor: pointer;
  font: inherit;
  color: #f0ad4e;
  background-color: white;
  border: 1px solid #f0ad4e;
  border-radius: 4px;
  padding: 0.5rem 2.5rem;
}

.actions button:hover {
  background-color: #d9534f;
  border-color: #d9534f;
}

.actions .leftmargin:hover {
  color: white;
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}

h6.error {
  text-align: center;
  color: #d9534f;
}

h6.warning {
  text-align: center;
  color:#f0ad4e;
}

.icon-align {
  text-align: center;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  border-radius: 0.25rem 0rem 0rem 0.25rem;
  width: 2.5rem;
}

.row-align {
  padding-top: 0.7rem;
}

.row-align .radio {
  padding-top: 0.5rem;
  padding-bottom: 0rem;
}
.row-align .picker {
  padding-top: 0.4rem;
  padding-left: 0.1rem;
  border: 1px solid rgb(197, 196, 196);
  border-radius: 0rem 0.25rem 0.25rem 0rem;
  width: 80%;
  min-width: 13.7rem;;
}

.row-align .textarea {
  border-radius: 0rem 0.25rem 0.25rem 0rem;
  height: 7rem;
}

.row-align .span {
  color:red;
  font-weight:bold
}

.row-align .select {
  width: 100%;
}

