.header {
  width: 100%;
  height: 4.5rem;
  background-color: #333;
  /*background-image: linear-gradient(to right, yellow, red);*/
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
}

.App-logo {
  margin-top: 100px;
  padding-top: 100px;
  /*height: 10vmin;
  pointer-events: none;*/
}

.logo {
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
  color: white;
  margin: 0;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
}

.header li {
  margin: 0 1rem;
}

.header a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.header button {
  font: inherit;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
  cursor: pointer;
}

.header a:hover{
  color: #d8ad1e;
}
.header a:active,
.header a.active {
  color: #d8ad1e;
  padding-bottom: 0.25rem;
  border-bottom: 3px solid #f7f5f5;
}
.header a.inactive {
  padding-bottom: 0rem;
  border-bottom: 0px solid #f7f5f5;
}

.header button:hover {
  background-color: #f7f5f5;
  color: #38015c;
}