.auth {
  margin: 3rem auto;
  width: 95%;
  max-width: 55rem;
  border-radius: 6px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  text-align: center;
}

.control {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.control .label {
  display: block;
  color: rgb(0, 0, 0);
  font-weight: bold;
  margin-bottom: 0.5rem;
  margin-left: 0.1rem;  
}

.control .left{
  float: left;
}

.control .right{
  float: right;
}

.control input {
  font: inherit;
  background-color: #ffffff;
  color: #38015c;
  border-radius: 2px;
  border: 1px solid rgb(197, 196, 196);
  width: 100%;
  text-align: left;
  padding: 0.25rem;
}

.actions {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.actions button {
  cursor: pointer;
  font: inherit;
  color: white;
  background-color: #db0011;
  border: 1px solid #db0011;
  border-radius: 4px;
  padding: 0.5rem 2.5rem;
}

.actions button:hover {
  background-color: #64050c;
  border-color: #64050c;
}

h6.error {
  text-align: center;
  color: #d9534f;
}

h6.warning {
  text-align: center;
  color:#f0ad4e;
}

.icon-align {
  text-align: center;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  border-radius: 0.25rem 0rem 0rem 0.25rem;
  width: 2.5rem;
}

.row-align {
  padding-top: 0.7rem;
}

.row-align .radio {
  padding-top: 0.5rem;
  padding-bottom: 0rem;
}
.row-align .picker {
  padding-top: 0.4rem;
  padding-left: 0.1rem;
  border: 1px solid rgb(197, 196, 196);
  border-radius: 0rem 0.25rem 0.25rem 0rem;
  width: 80%;
  min-width: 13.7rem;;
}

.row-align .textarea {
  border-radius: 0rem 0.25rem 0.25rem 0rem;
  height: 7rem;
}

.row-align .span {
  color:red;
  font-weight:bold
}

.row-align .select {
  width: 100%;
}

